<ion-header >
  <ion-toolbar>
    <ion-title>  Home </ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-login *ngIf="!showLogin2"></app-login>

  <!-- Show app-login2 if showLogin2 is true -->
  <app-login2 *ngIf="showLogin2"></app-login2>

  <!-- Toggle link text based on the component being displayed -->
  <a (click)="toggleLogin()">
    {{ showLogin2 ? 'Back to login' : 'Already have a username' }}
  </a>





</ion-content>
