<ion-header xmlns:color="http://www.w3.org/1999/xhtml">
  <ion-toolbar>
    <ion-title>  Home </ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >


   <ion-col style="display: flex;
    align-items: center;
    flex-direction: column;

">


   <ion-row >
    <ion-col size="45">


      <app-login *ngIf="homeService.chooseComponent===0 || homeService.chooseComponent===3" ></app-login>
      <app-login2 *ngIf="homeService.chooseComponent===1"></app-login2>
      <app-login-overview *ngIf="homeService.chooseComponent===2"></app-login-overview>




    </ion-col>
  </ion-row>


    <ion-row>
      <ion-col >
        <a *ngIf="homeService.chooseComponent<=1"
           style="color: blue; text-decoration: underline; cursor: pointer;"
           (click)="toggleLogin()">
          {{ messageToToggle}}
        </a>


      </ion-col>
    </ion-row>

   </ion-col>

  </ion-grid>

</ion-content>
