<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Log</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Log</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
    <ion-button size="small" class="my-button" (click)="dataService.createStatusEntryOnServer()">Update</ion-button>




  <br>
  <br>

  <ul>
    <li *ngFor="let item of statusEntries">
      {{ item.Log }} - {{ item.Date.split('.')[0]}}
    </li>
  </ul>


</ion-content>
