/* General style for all items */
.white-background-black-text {
  background-color: white;
  color: black;
  font-size: 10px;
  height: 11px;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
}

.highlighted-selection {
  background-color: #f0f0f0;
  color: black;

}



ion-button[size="small"] {
  --border-style: solid;
  --border-width: 1.5px;
  --border-color: black;

}

ion-button[size="small"]:focus {
  --border-color: grey;
  outline: none;

}

ion-icon[name="eye"], ion-icon[name="eye-off"] {
  font-size: 24px;
  color: #777;
  cursor: pointer;
}
